<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="esh-in-explorer.ZPM">
    <Module>
      <Name>esh-in-explorer</Name>
      <Description>LinkedIn contacts backend for InterSystems IRIS</Description>
      <Version>1.0.0</Version>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="esh.in.explorer.PKG"/>
      <CSPApplication
        Url="/in-explorer/api"
        DispatchClass="esh.in.explorer.api.disp"
        MatchRoles=":{$dbrole}"
        PasswordAuthEnabled="0"
        UnauthenticatedEnabled="1"
        Recurse="1"
        UseCookies="2"
        CookiePath="/in-explorer/api/"
        CorsAllowlist="*"
        CorsCredentialsAllowed="1"
        CorsHeadersList="Content-Type,Authorization,Accept-Language,X-Requested-With,session"
       />
      <Invoke Class="esh.in.explorer.api.security" Method="SetupSecurity"></Invoke>
      <Invoke Class="esh.in.explorer.tests.runner" Method="RunTests" Phase="test"></Invoke>
    </Module>
  </Document>
</Export>
